{% extends "skeleton/base.html" %}
{% block title %}Gaming Hírek{% endblock %}

{% block page %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="{{ url_for('home') }}" class="navbar-brand text-white">
            <i class="fa-solid fa-newspaper"></i> Gaming Hírek
        </a>
        <div class="ms-auto">
            <p class="text-white text-center m-0">&copy; 2021 bdgz</p>
            <p class="text-center m-0"><a href="https://skiby.net">Az oldalt készítette bdgz</a></p>
        </div>
    </div>
</nav>
<main class="container">
    <div class="category-title-parent px-2 my-4">
        <h1 class="category-title px-2">Hírek</h1>
        <h1 class="category-icon px-2"><i class="fas fa-gamepad"></i></h1>
    </div>
    <div data-masonry='{"percentPosition": true }' class="row justify-content-center">
        {% for article in news %}
        <div class="col-sm-3">
            <a href="{{ article.url }}">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title text-accent-secondary">{{ article.title }}</h4>
                        <p class="card-text text-white">
                            {{ article.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-accent">{{ article.publisher.title }} <span
                                class="text-muted">&bullet;</span> <a href="{{ article.url }}" class="btn btn-primary btn-sm m-0"><i
                                    class="fa-solid fa-eye"></i> Elolvasom</a></p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% if not news %}
            {% include "common/data-load-fail.html" %}
        {% endif %}
    </div>
</main>
{% endblock %}